@model ChiTietDonHangViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int stt = 1;
}

<br />
<br />

<div class="card ">
    <div class="card-header">
        <h3 class="card-title"><i class="fas fa-file text-info"></i> Thêm chi tiết đơn hàng - mã ĐH: <b>@Model.DonHang.Id</b></h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body">

        <div class="p-4 border rounded">

            <form method="post" asp-action="CreateSPDaChon" autocomplete="off">

                <input type="hidden" name="donHangId" value="@Model.DonHang.Id" />
                <input type="hidden" name="strUrl" value="@Model.StrUrl" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group row">

                    <div class="col-md-3">
                        <label asp-for="SPDaChon.TenSanPham" class="control-label"></label>
                        <select asp-for="SPDaChon.TenSanPham" class="form-control" id="ddlSanPham"
                                asp-items="@(new SelectList(Model.SanPhams, "Name", "Name"))">
                        </select>
                        <span asp-validation-for="SPDaChon.TenSanPham" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                        <label asp-for="SPDaChon.SoLuong" class="control-label"></label>
                        <input asp-for="SPDaChon.SoLuong" class="form-control " id="txtSoLuong" />
                        <span asp-validation-for="SPDaChon.SoLuong" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="SPDaChon.DonGia" class="control-label"></label>
                        <input type="text" asp-for="SPDaChon.DonGia" class="form-control numbers" id="txtDonGia" asp-format="{0:0,0}" readonly/>
                        <span asp-validation-for="SPDaChon.DonGia" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="SPDaChon.ThanhTien" class="control-label"></label>
                        <input type="text" asp-for="SPDaChon.ThanhTien" class="form-control numbers" asp-format="{0:0,0}" id="txtThanhTien" readonly/>
                        <span asp-validation-for="SPDaChon.ThanhTien" class="text-danger"></span>

                    </div>

                    <div class="col-md-1">

                        <label class="control-label">Thêm</label>
                        <button type="submit" class="btn btn-primary" title="Thêm chi tiết"><i class="fas fa-plus"></i></button>
                    </div>

                </div>

            </form>

            <!-- List SP da chon-->
            <table class="table mytable text-nowrap " id="listAll">
                <thead>
                    <tr class="table-info">
                        <th>#</th>
                        <th>STT</th>
                        <th>@Html.DisplayNameFor(m => m.SPDaChons.FirstOrDefault().TenSanPham)</th>
                        <th>@Html.DisplayNameFor(m => m.SPDaChons.FirstOrDefault().SoLuong)</th>
                        <th>@Html.DisplayNameFor(m => m.SPDaChons.FirstOrDefault().DonGia)</th>
                        <th>@Html.DisplayNameFor(m => m.SPDaChons.FirstOrDefault().ThanhTien)</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.SPDaChons)
                    {

                        <tr class="cursor-pointer ">

                            <td>
                                <div class="btn-group text-white" role="group">

                                    @*<a class="btn btn-success btn-sm" title="Thêm chi tiết" asp-action="Create" asp-controller="ChiTietDonHangs" asp-route-donHangId="@item.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-plus"></i></a>*@
                                    <a class="btn btn-primary btn-sm" title="Cập nhật" asp-action="Edit" asp-route-donHangId="@Model.DonHang.Id" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-edit"></i></a>
                                    @*<a class="btn btn-success btn-sm" title="Chi tiết" asp-action="Details" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-list"></i></a>*@
                                    <form asp-action="Delete" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl" asp-route-donHangId="@Model.DonHang.Id" method="post">

                                        <span id="confirmDeleteSpan_@item.Id" style="display: none">
                                            <span class="text-light">Xóa?</span>
                                            <button type="submit" class="btn btn-danger">Yes</button>
                                            <a href="#" class="btn btn-primary" onclick="confirmDelete('@item.Id', false)">No</a>
                                        </span>

                                        <span id="deleteSpan_@item.Id">
                                            <a href="#" class="btn btn-danger btn-sm" onclick="confirmDelete('@item.Id', true)"><i class="fas fa-trash-alt"></i></a>
                                        </span>
                                    </form>
                                </div>
                            </td>
                            <td>@stt</td>
                            <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.TenSanPham)</td>
                            <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.SoLuong)</td>
                            <td class="tdVal" data-id="@item.Id">@Html.Raw(item.DonGia.ToString("N0"))</td>
                            <td class="tdVal" data-id="@item.Id">@Html.Raw(item.ThanhTien.ToString("N0"))</td>

                        </tr>
                        stt++;
                    }
                </tbody>

            </table>
            <!-- List SP da chon-->

            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>Finish</button>
                <a class="btn btn-success" asp-controller="NhapHangs" asp-route-strUrl="@Model.StrUrl" asp-action="DetailsRedirect"><i class="fas fa-backward"></i></a>
            </div>
        </div>



    </div>
</div>


@section Scripts{
    <script>

        $(function () {
            //$("#datepicker").datepicker({
            //    dateFormat: 'dd/mm/yy'
            //});

            $('#listAll').DataTable({
                "paging": false,
                "lengthChange": true,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>
    <script src="~/js/ChiTietDonHang/createController.js"></script>

    <script>
        function confirmDelete(uniqueId, isDeleteClicked) {
            var deleteSpan = 'deleteSpan_' + uniqueId;
            var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

            if (isDeleteClicked) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();
            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
            }
        }
    </script>


    <style>
        #listAll {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        #search {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .tblEMD .cursor-pointer:hover {
            background-color: #3E5C9A;
            cursor: pointer;
        }

        .hoverClass {
            background-color: #3E5C9A;
        }
    </style>
}

